canvas {
    position: absolute;
    background-image: url("../images/background/Background.png");
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}